.MissionFilter {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.MissionFilter button {
  color: white;
  padding: 6px 12px;
  border: 2px solid #b91c1c;
  background-color: transparent;
  transition: all 0.2s ease;
}

.MissionFilter button:hover {
  /* background-color: rgba(185, 28, 28, 0.15); */
  box-shadow: 0 0 6px rgba(239, 68, 68, 0.6);
  color: #ef4444;
  border-color: #ef4444;
}

.MissionFilter button.active {
  background-color: #b91c1c;
  color: white;
  border-color: #b91c1c;
  box-shadow: 0 0 8px rgba(185, 28, 28, 0.5);
}
